In [1]:
# Import Dependencies
import pandas as pd

In [12]:
brent_crude_csv = "Resources/brent_crude1.csv"
wti_crude_csv = "Resources/wti_crude.csv"
natural_gas_csv = "Resources/natural_gas.csv"

In [13]:
brentcrude_df = pd.read_csv(brent_crude_csv)
wticrude_df = pd.read_csv(wti_crude_csv)
naturalgas_df = pd.read_csv(natural_gas_csv)

In [14]:
brentcrude_df.head()

      Date  Brent Crude (USD)
0  11/1/19              60.17
1  11/4/19              62.52
2  11/5/19              62.72
3  11/6/19              62.11
4  11/7/19              62.60

In [15]:
wticrude_df.head()

      Date  WTI Crude (USD)
0  11/1/19            56.04
1  11/4/19            56.33
2  11/5/19            57.04
3  11/6/19            56.15
4  11/7/19            56.91

In [16]:
naturalgas_df.head()

      Date  Natural Gas Prices (USD)
0  11/1/19                      2.54
1  11/4/19                      2.77
2  11/5/19                      2.77
3  11/6/19                      2.82
4  11/7/19                      2.84

In [17]:
# Merge the two DataFrames together based on the Dates they share
brentwti_df = pd.merge(brentcrude_df, wticrude_df, on="Date")
brentwti_df.head()

      Date  Brent Crude (USD)  WTI Crude (USD)
0  11/1/19              60.17            56.04
1  11/4/19              62.52            56.33
2  11/5/19              62.72            57.04
3  11/6/19              62.11            56.15
4  11/7/19              62.60            56.91

In [19]:
brentwtinatural_df = pd.merge(brentwti_df,naturalgas_df, on="Date")
brentwtinatural_df.head()

      Date  Brent Crude (USD)  WTI Crude (USD)  Natural Gas Prices (USD)
0  11/1/19              60.17            56.04                      2.54
1  11/4/19              62.52            56.33                      2.77
2  11/5/19              62.72            57.04                      2.77
3  11/6/19              62.11            56.15                      2.82
4  11/7/19              62.60            56.91                      2.84

In [21]:
brentwtinatural_df.to_csv(r'C:\Users\khushbooshah\Desktop\My work\DataViz-Content\04-Pandas\3\Activities\02-Stu_Cryptocurrency\Solved\Resources\brentcrudenatural.csv',index = False,header = True)